<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN PAGE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        .header {
            color: #36A0FF;
            font-size: 27px;
            padding: 10px;
        }
    </style>
</head>
<body>
<div class="container" style="padding-left: 180px">
    <div class="row">
        <div class="col-md-10">
            <div class="well well-sm">
                <form class="form-horizontal" method="POST" action=".">
                    <fieldset>
                        <legend class="text-center header">LOGIN PAGE</legend>

                        <div class="form-group" >
                        <div class="col-md-9" style="padding-left: 200px">
                            <h4>Username:</h4><input id="usrname" name="usrname" type="text" placeholder="Enter Username" class="form-control">
                        </div>
                        </div>

                        <div class="form-group" >
                            <div class="col-md-9" style="padding-left: 200px">
                                <h4>Password</h4><input id="passw" name="password" type="text" placeholder="Enter Password" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-9" style="padding-left: 200px">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>